.spinner {
  width: 24px;
  height: 24px;
  border: 5px solid #f3f3f3; /* Background track color */
  border-top-color: rgb(212, 175, 64); /* Spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
